{% extends "base_generic.html" %}


{% block title %}
	{{ article.title }}
{% endblock %}

{% block content %}

	<section>
		<span id="banner" class="image object" style="float:right;max-width:-webkit-fill-available;">
			<img src="{{ article.main_picture }}" alt="" />
		</span>
	<div class="content">
		<header>
			<h2> {{ article.title }}	</h2>
			<p> {{ article.subtitle }} - {{ article.date|date:"d/m/y" }}
			</p>
		</header>
		{% autoescape off %}
			{{ article.main_text }}
		{% endautoescape %}
	</div>

	<p> <a href="{% url 'blog' %}">Back to article list</a> - Written on the {{ article.date|date:"d/m/y" }}.
	<p/>

	<hr>

	</section>
	
	<p>
	Comments:
	</p>
	
	<div id="disqus_thread"></div>
	<script>

	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	
	var disqus_config = function () {
		this.page.url = 'https://robinvogel.me/blog/{{ article.url_name }}';
		// Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = 'blog-{{ article.url_name }}';
		// Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://robinvogel-me.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<script id="dsq-count-scr" src="//robinvogel-me.disqus.com/count.js" async></script>
                            
{% endblock %}
