{% extends "base_generic.html" %}

{% block content %}
                
	<section id="banner" style="padding-bottom:0">
			<div class="content">
				<header>
					<h2> {{ article.title }}	</h2>
					<p> {{ article.subtitle }} - {{ article.date|date:"d/m/y" }}
					</p>
				</header>
				<p> 
		{% autoescape off %}
				{{ article.first_paragraph }}
		{% endautoescape %}
			</p>
	</div>
	<span class="image object">
		<img src="{{ article.main_picture }}" alt="" />
	</span>
	</section>

	{% autoescape off %}
			{{ article.last_paragraphs }}
	{% endautoescape %}


	<p> <a href="{% url 'blog' %}">Back to article list</a> - Written on the {{ article.date|date:"d/m/y" }}.
	<p/>

{% endblock %}
