{% extends "base_generic.html" %}

{% block title %}
Robin Vogel
{% endblock %}

{% block content %}

<section class="content">

<h2> News </h2>

<p>
{% if news %}
	<ul>
		{% for new in news %}
		<li>
			{{ new.date|date:"m/y" }}: 
			{% autoescape off %}
					{{ new.text }}
			{% endautoescape %}
		</li>
		{% endfor %}
	</ul>
{% else %}
	No news to display.
{% endif %}
</p>

<h2> Academic background </h2>

<p>
I am in the final year of my PhD, a collaboration between 
the school <a href="https://www.telecom-paristech.fr/eng">Télécom Paris</a> 
and the computer security firm <a href="https://www.idemia.com/">IDEMIA</a>.
This type of PhD is called 
<a href="https://fr.wikipedia.org/wiki/Convention_industrielle_de_formation_par_la_recherche">CIFRE</a>, which is a french system that defines a 
partnership between a student, a school and a company to finance a thesis.
</p>

<p>
I got an engineering degree from <a href="http://www.ensae.fr/">ENSAE Paris</a> and graduated from the 
<a href="https://www.polytechnique.edu/fr/master-data-sciences">M2 Data Sciences</a>,
a program co-hosted by <a href="https://www.polytechnique.edu/fr">Ecole Polytechnique</a>, <a href="http://ens-paris-saclay.fr/en">ENS Cachan</a>, Télécom Paris and ENSAE Paris.
</p>

<h2> Research focus </h2>

<p>
The aim of my thesis is to take inspiration from industrial considerations 
to produce interesting and meaningful research. IDEMIA being a biometrics company,
it focuses on <b>similarity learning</b>, <b>ranking</b> and <b>U-statistics</b>.
I work with <b>deep neural networks</b> for <b>computer vision</b>, as it is now 
the standard for <b>face recognition</b>.
</p>


<h2> Key people</h2>
<p>
My academic supervisors are 
<a href="https://www.telecom-paristech.fr/recherche/les-enseignants-chercheurs-de-telecom-paristech/clemencon.html">Stéphan Clémençon</a>, 
<a href="https://perso.telecom-paristech.fr/sabourin/">Anne Sabourin</a> from
Télécom Paris, and
<a href="http://researchers.lille.inria.fr/abellet/">Aurélien Bellet</a> 
from <a href="https://www.inria.fr/en/">Inria</a>.
At IDEMIA I am part of a team led by 
<a href="https://www.linkedin.com/in/vincent-despiegel-40a56951/">Vincent Despiegel</a>
(formerly under 
<a href="https://www.linkedin.com/in/anouar-mellakh-b4a51327/">Anouar Mellakh</a>,
<a href="https://www.linkedin.com/in/julien-bohn%C3%A9-3524597/">Julien Bohné</a>)
which is supervised by 
<a href="https://www.linkedin.com/in/stephane-gentric-a0341a7/">Stéphane Gentric</a>.
</p>



</section>
	
{% endblock %}
